body {
  background-color: #DCDFE4;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

.blur {
  filter: blur(0px);
  transition: ease 0.5s;
}
.blur.active {
  filter: blur(10px);
}

footer {
  background-color: #D2D1CC;
  width: 100%;
  border-top: 1px solid grey;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  box-shadow: 0px -5px 8px rgba(0,0,0,0.25);
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#model {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #000000c4;
  align-items: center;
  cursor: pointer;
}

#model div {
  padding: 5px;
  border-radius: 6px;
  color: aliceblue;
  text-shadow: 1px 1px 6px rgba(0,0,0,0.6), 0 2px 6px rgba(0,0,0,0.5);
  text-align: center;
}

#model.inactive {
  transition: 0.3s ease-in;
  opacity: 0;
}

#img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:90%;
  padding: 5px;
  margin-top: 15px;
}

#image {
  border: gray solid 1px;
  max-width: 550px;
  width: 100%;
  border-radius: 100%;
  box-shadow: 1px 1px 8px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.23);
}

#img-caption {
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
  padding-bottom: 10px;
}

#tribute-info {
  color: #f0f8ff;
  width: 100%;
}

#genieImg {
  display: flex;
  align-items: center;
}

#genieImg img {
  max-height: 150px;
}

#tribute-info p {
  padding: 75px 10px;
  max-width: 850px;
}

#tribute-info > div:first-child {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 15px;
  background: linear-gradient(35deg, #2c283a, #272d30);
}

#quote {
  background-color: #D2D1CC;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}

#quote div:first-child {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  color: #272d30;
  justify-content: center;
  padding: 15px;
  padding-left: 0;
}

#quote div:first-child *{
  text-align: right;
}

#quote img {
  width: 100%;
}

@media (min-width: 950px) {
  #quote {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

div#help {
  display: flex;
  position: fixed;
  bottom: -50px;
  left: 0;
  width: 100%;
  padding-bottom: 0;
  justify-content: center;
  transition: ease 0.5s;
}

div#help p {
  padding: 15px 10px;
  background-color: #272d30;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}